{{#partial "header"}}
<div class="row bg-success text-white h-35">
    <div class="col-md-3">
        <h2>Welcome to Java </h2>
    </div>
    <div class="col-md-3">This is Mid-Tab</div>
    <div class="col-md-6"></div>
</div>
{{/partial}}
{{> layout.hbs}}